<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Open Library</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(rootPage)">
        <ion-icon name="book"></ion-icon>
        Home
      </button>
      <button *ngIf="!isLoggedIn" ion-item (click)="openPage(loginPage)">
        <ion-icon name="log-in"></ion-icon>
        Login
      </button>
      <button *ngIf="!isLoggedIn" ion-item (click)="openPage(signupPage)">
        <ion-icon name="create"></ion-icon>
        Sign Up
      </button>
      <button *ngIf="isLoggedIn" ion-item (click)="doLogout()">
        <ion-icon name="log-out"></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #nav></ion-nav>
