<ion-header>

  <ion-navbar>
    <ion-title>{{ bookGroup.category | uppercase }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let book of bookGroup.books; let i = index">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <div class="content">
        <img [src]="book.coverPage" class="book-cover">
        <div class="book-detail-container">
          <h1 class="book-title">{{ book.title }}</h1>
          <h4 class="author">{{ book.author }}</h4>
        </div>
      </div>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button
          ion-button
          clear
          small
          (click)="onAddToFavorites(book)"
          *ngIf="!isFavorite(book)">BookMark
        </button>
        <button
          ion-button
          clear
          small
          color="danger"
          (click)="onRemoveFromFavorites(book)"
          *ngIf="isFavorite(book)">Remove BookMark
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
